@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Desktop View */
.aboutComponent {
  background-color: rgb(16, 25, 13);
  margin-top: -15px;
}

.aboutTitle {
  color: rgb(238, 129, 30);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 25px;
}

.aboutImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 150px;
}

@media screen and (min-width: 768px) {
  .aboutText {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    color: rgb(220, 225, 219);
    padding: 15px;
    line-height: 30px;
  }
  .aboutData {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
  }
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .aboutData {
    display: flex;
    flex-direction: column;
  }
  .aboutText {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    padding: 15px;
    color: rgb(220, 225, 219);
  }
}
