.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  color: wheat;
}

.footerData {
  display: flex;
  justify-content: space-around;
}

.contactDetails {
  text-align: left;
  letter-spacing: 1.25px;
  margin: 15px;
}

.usefullLinks {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1.25px;
  margin: 15px;
  line-height: 28px;
}

.usefullLinks a {
  color: wheat;
}

.librarianDetails {
  text-align: left;
  letter-spacing: 1.25px;
  margin: 15px;
}

.contactDetails h1,
.usefullLinks h1,
.librarianDetails h1 {
  font-size: 25px;
  color: rgb(235, 88, 75);
  padding-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
}

.contactSocial {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon {
  margin: 0 10px;
}

.copyrightDetails p {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.15px;
  text-align: center;
  margin-top: 15px;
}

.copyrightDetails span {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .footerData {
    display: flex;
    flex-direction: column;
  }
}
