.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgb(34, 34, 34);
  top: 0%;
}

.logoSymbol:hover {
  cursor: pointer;
}

.navRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 100%;
  margin-left: 15px;
  max-width: 1800px;
  height: 40px;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid white;
}

.navOptions,
.navOptionsActive {
  padding-left: 25px;
  display: flex;
  list-style-type: none;
  margin-bottom: 15px !important;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  color: rgb(233, 83, 75);
  margin-top: 10px;
}

.option a {
  color: rgb(233, 83, 75);
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 22px;
  text-decoration: none;
}

.option a:hover {
  color: wheat;
  transition: all ease 0.5s;
}

.mobileMenu {
  display: block;
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none !important;
  }
  .header {
    display: grid;
    grid-template-columns: 10% 60%;
  }
}

/*Mobile View */
@media (max-width: 768px) {
  .header {
    padding: 0px 10px;
  }
  .navOptions {
    display: flex;
    width: 100%;
    height: 280px;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .navOptionsActive {
    display: flex;
    width: 100%;
    height: 280px;
    position: absolute;
    top: 60px;
    background: rgb(34, 34, 34);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    z-index: 100;
    align-content: center;
    padding-left: 0px;
  }
  .menuIcon {
    width: 45px;
    height: 45px;
    color: rgb(233, 83, 75);
    padding: 2px;
    background-color: rgb(246, 233, 202);
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 15px 0px 10px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }
}
