.photogalleryContainer {
  background-color: rgb(138, 115, 241);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.photogalleryTitle {
  padding-top: 15px;
  text-align: center;
  color: #000000;
  font-size: 32px;
  font-weight: bold;
}

.photogalleryImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
}

.photogalleryImages img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  display: block;
  border-radius: 5px;
  transition: all 100ms ease-out;
}

.photogalleryImages img:hover {
  transform: scale(1.04);
  transition: all ease 0.5s;
}

.photogalleryContainer button {
  font-size: 18px;
  font-weight: 800;
  padding: 8px 5px;
  border-radius: 5px;
  outline: none;
  align-items: left;
  margin-left: 12px;
  width: 160px;
  color: white;
  border: 1px solid white;
  background-color: rgb(233, 83, 75);
}

.photogalleryContainer button:hover {
  background-color: white;
  color: rgb(233, 83, 75);
  border: 1px solid rgb(233, 83, 75);
  transition: all ease 0.5s;
}
