.popularBooksContainer {
  background-color: rgb(247, 235, 215);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.popularBooks {
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: auto;
}

.popularBooks:hover div {
  animation-play-state: paused;
}

.popularBooksTitle {
  position: relative;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.popularBook:hover {
  transform: scale(1.15);
  transition: all ease 0.7s;
  animation-play-state: paused;
}

.popularBookImages {
  animation: marquee 15s linear infinite;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.popularBook {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 1vw;
  border-radius: 5px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
