.recentAddedBooksContainer {
  background-color: rgb(16, 25, 13);
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.recentBooks {
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.recentBooks:hover div {
  animation-play-state: paused;
}

.recentBooksTitle {
  position: relative;
  color: rgb(238, 129, 30);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.recentBook:hover {
  transform: scale(1.15);
  transition: all ease 0.7s;
  animation-play-state: paused;
}

.images {
  animation: marquee 15s linear infinite;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.recentBook {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 1vw;
  border-radius: 5px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
