.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 235, 215);
  flex-wrap: wrap;
  padding: 20px;
}

.statsIcon {
  align-items: center;
}

.statsBlock {
  height: 200px;
  width: 180px;
  border-radius: 10px;
  margin: 25px;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 25px;
}

