.welcomeBox {
  background-color: rgb(247, 235, 215);
  text-align: center;
}

.welcomeTitle {
  font-size: 40px;
  font-weight: 900;
  padding: 15px;
  color: blue;
  text-shadow: 1px 1px 0 #18e657, 2px 2px 0 #bf189b, 3px 3px #ffeb00,
    4px 4px black;
}

.welcomeMessage {
  font-size: 25px;
  font-weight: 800;
  line-height: 1px;
}

.welcomeSubmessage {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 15px;
}
